@model IEnumerable<LMS.Models.StudentViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FatherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Batch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RollNo)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
      
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FatherName)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Batch)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RollNo)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.PersonId }) |
            @Html.ActionLink("Details", "Details", new { id = item.PersonId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.PersonId }) |
            @Html.ActionLink("AddSubject", "AddSubject", new { id = item.PersonId }) |
            @Html.ActionLink("Result", "ResultIndex", new { id = item.PersonId }) |
            @Html.ActionLink("Attendance Report", "AttendanceReport", new { id = item.PersonId }) |
            @if (item.SectionAssigned == 0)
            {

                @Html.ActionLink("Assign Section", "AssignSection", new { id = item.PersonId })
            }
        </td>
    </tr>
}

</table>
